body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

div.top-container{
    margin: 0;
    height: 500px;
    width: 100%;
    background-color: #b9ebcc;
    
    padding-top: 60px;
    border: 0;
    text-align: center;
    position: relative;
}

h1{
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5.625 rem;
    /* font-size:  562.5%; */

    /* 100% = 16px
        ?   = 90px */
    /* 1em  = 16px 
        rem does not get affected by upstream changes*/
    margin: 0;
    border: 0;
    padding: 0;
    
}

h2{
    font-size: 2.5 rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    border: 0;
    padding: 0;
}

img.building_1{
    height: 350px;
}

div.build_1{
    position: relative;
    top: 80px;


}

img.c1{
    height: 160px;
}

img.c2{
    height: 160px;
    transform: scaleX(-1);
}

div.cloud_1{
    position: absolute;
    top: 10rem;
    left: 20rem;
}

div.cloud_2{
    position: absolute;
    top: 5rem;
    right: 25rem;
}

div.profile_text{
    position: relative;
    top: 70px;
}

div.middle-container{


}

div.bottom-container{

}

img.pf{
    height: 16em;
    position: relative;
}
div.profile_pic{
    text-align: center;
    position: relative;
    top:5em;

}